footer {
  text-align: center;
}

footer h2 {
  background-color: var(--green);
  color: var(--lime-2);
  /* margin-bottom: 16px; */
  padding: 16px 0;
  font-size: 18px;
}

footer img {
  padding: 20px 0;
}